// 
//  Border Base
// 

.border--0,
.border--none         { border-style: none;         border-width: 0px; }
.border               { border-style: solid;        border-width: 1px; }
.border--2            { border-style: solid;        border-width: 2px; }

.border-top--0,
.border-top--none     { border-top-style: none;     border-top-width: 0px;     }
.border-top           { border-top-style: solid;    border-top-width: 1px;     }
.border-top--2        { border-top-style: solid;    border-top-width: 2px;     }


.border-right--0,
.border-right--none   { border-right-style: none;   border-right-width: 0px;   }
.border-right         { border-right-style: solid;  border-right-width: 1px;   }
.border-right--2      { border-right-style: solid;  border-right-width: 2px;   }


.border-bottom--0,
.border-bottom--none  { border-bottom-style: none;  border-bottom-width: 0px;  }
.border-bottom        { border-bottom-style: solid; border-bottom-width: 1px;  }
.border-bottom--2     { border-bottom-style: solid; border-bottom-width: 2px;  }


.border-left--0,
.border-left--none    { border-left-style: none;    border-left-width: 0px;    }
.border-left          { border-left-style: solid;   border-left-width: 1px;    }
.border-left--2       { border-left-style: solid;   border-left-width: 2px;    }


// 
//  Border Components
// 

.border--sides        { border-left-style: solid;  border-left-width: 1px;
                        border-right-style: solid; border-right-width: 1px; }

.border--ends         { border-top-style: solid;  border-top-width: 1px;
                        border-bottom-style: solid; border-bottom-width: 1px; }
